<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo con Vue.js</title>
</head>
<body>
    <!-- Agregaremos un id para hacer referencia en javascript de Vue.js -->
    <div id="app">
        <!-- Para generar la interpolacion viniendo el titulo desde el JS -->
        <h1>{{titulo}}</h1>
        <!-- Mostraremos el arreglo en un ciclo for-->
        <ul>
            <!-- 
                *Se declara v- que hace referencia a que es una funcion de vue.js
                *Se declara el for despues de vue para indicar que es un ciclo
                *Enseguida se declara la variable donde se guardaran los valores del array
                *se declara la palabra reservada of ademas de el arreglo al que hacemos referencia
                *por ultimo se vincula con la variable del for
            -->
            <li v-for="valor_fruta of frutas">{{valor_fruta}}</li>
        </ul>
        <!-- Mostraremos con un ciclo for y lo condicionaremos con un if -->
        <ul>
            <li v-for="valor_venta_fruta of venta_frutas">
                {{valor_venta_fruta.nombre}} - {{valor_venta_fruta.cantidad}}
                <!-- 
                    Generaremos un spam cuando solo cuando la cantidad sea 0:
                    * se declara v- para hacer referencia a vue.js
                    * enseguida agregaremos la palabra reservada if
                    * igualaremos a la variable que guarda nuestros objetos y crearemos nuestra condicion 
                -->
                <span v-if = "valor_venta_fruta.cantidad === 0"> - Sin Stock </span>
            </li>
        </ul>

    </div>

    <!-- versión de producción, optimizada para tamaño y velocidad de Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Conexion con codigo en Vue.js -->
    <script src="01.js"></script>
</body>
</html>